*{
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	background: #000;
	font-family: sans-serif;
}

canvas {
	background: #000;
}

@font-face {
	font-family: 'I';
	src: url('../../fonts/HYB1GJM.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HYZhongHeiJ';
	src: url('../../fonts/HYB1GJM.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Times New Roman';
	src: url('../../fonts/times.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}